<!doctype html>
<html>
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Welcome!</title>

        <link rel="stylesheet"
        href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
<div id="style">
{% block style %}{% endblock style %}
</div> <!--style-->


</head>


<form class="pure-form pure-form-aligned" method="POST" action="/">
<div id="opener" class="title">
 {% block body %}{% endblock body %}
</div> <!--opener-->

<center>
{% if answer %}
<div class ="pure">

<center><section class ="a"><img src={{image}} width="400" height="400"></img></center></section><br>
<section class ="c"><center>The {{adjective}} <b>{{name}}</b> says that the answer is:<br>
{{answer}}
</section><br></div>

{% endif %}
<section class="c">
<fieldset>
<div class="pure-control-group"><br>
  <label for="question">What is your {% if answer %}next{% endif %} question?</label>
  <input id= "question" name = "question"type="text" placeholder="Who is I?">
</div>


</section><br><font face ="Baskerville">
<button type = "submit" class="pure-button pure-button-primary"
href="/"> Answers ahead!</button>

</fieldset>
</center>
</form>
</body>
</html>
